.list-items {
  width: calc(20% - 10px);
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 5px 6px 14px rgba(0, 0, 0, 0.2);
  .image-thumb {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .content-detail {
    padding: 16px;
    .title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .title {
      margin: 0px;
      font-size: 20px;
      font-weight: bold;
      color: #313131;
    }
    .country {
      margin: 0px;
      margin-top: 4px;
      font-size: 12px;
      color: gray;
    }
    .temperament {
      margin: 0px;
      margin-top: 4px;
      font-size: 14px;
      font-weight: bold;
      color: gray;
    }
    .body {
      margin: 0px;
      margin-top: 18px;
      font-size: 16px;
      color: #353535;
    }
    .link-view {
      width: 100px;
      margin-right: 0px;
      margin-left: auto;
    }
  }
}
