.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: rgb(8, 4, 61);
  .logo-app {
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    margin: 0px;
  }
}
