.detail-page-wrapper {
  padding-top: 30px;
  .img-cover {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  .list-title {
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
    color: #2d2d2d;
    margin-top: 20px;
  }
  .list-country {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 16px;
    color: gray;
  }
  .list-desc {
    margin: 0px;
    font-size: 16px;
    line-height: 36px;
  }
  .list-body {
    font-size: 18px;
    line-height: 36px;
  }
}
