.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(8, 4, 61);
  padding: 20px 40px;
  .logo {
    width: 70px;
    height: 70px;
    object-fit: contain;
  }
  .power {
    font-size: 14px;
    font-weight: 600;
    color: whitesmoke;
    text-align: center;
  }
}

.copyright {
  background-color: rgb(11, 7, 80);
  padding: 10px 0px;
  p {
    font-size: 14px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin: 0px;
  }
}
